Meta
doc
.Rhistory
.RData
.Ruserdata
inst/doc
*.Rproj
.Rproj.user
vignettes/figs/unnamed-chunk-19-1.png
vignettes/figs/unnamed-chunk-21-1.png
vignettes/figs/unnamed-chunk-23-1.png
vignettes/figs/unnamed-chunk-24-1.png
vignettes/figs/unnamed-chunk-27-1.png
